@import './base.css';

#app {
    max-width: var(--max-content-width);
    margin: 0 auto;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* layout helpers */
.max-w-6xl { max-width: 76rem; }
.green { color: #0b6; }
.projects-grid { display: grid; gap: 16px; }

